.pop-up-window {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	display: none;
	flex-direction: column;

	background-color: white;
	border-radius: 15px;
	color: black;
	overflow: hidden;
}

.pop-up-window__header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 10px;
}

.pop-up-window__header__title p {
	margin: 0;
	font-weight: bold;
	text-transform: uppercase;
}

.pop-up-window__header__close {
	cursor: pointer;

	transition: var(--opacity-transition);
}

.pop-up-window__header__close:hover {
	opacity: var(--hover-opacity);
}

.pop-up-window__header__close:active {
	opacity: var(--active-opacity);
}

.pop-up-window__main form {
	display: flex;
	flex-direction: column;
	align-items: center;

	padding: 10px 15px;
	border-top: solid var(--light-dark-color) 2px;
	border-bottom: solid var(--light-dark-color) 2px;
}

.pop-up-window__main form label {
	text-transform: uppercase;
	font-weight: bold;
	color: var(--light-dark-color);
	font-size: 35px;
}

.pop-up-window__main form input {
	flex: 1;
	border: none;
	border-radius: 10px;
	margin: 5px 0;
	padding: 5px;
	font-size: 25px;
	background-color: var(--light-dark-color);
}

.pop-up-window form input::placeholder {
	color: lightgray;
}

.pop-up-window__main__button {
	display: flex;
	justify-content: center;
}

.pop-up-window__main__button button {
	border: none;
	border-radius: 10px;
	background-color: var(--button-color);
	color: var(--text-color);
	font-weight: bold;
	padding: 10px 20px;
	margin-top: 10px;
	font-size: 20px;
	cursor: pointer;

	transition: var(--opacity-transition);
}

.pop-up-window__main__button button:hover {
	opacity: var(--hover-opacity);
}


.pop-up-window__main__button button:active {
	opacity: var(--active-opacity);
}

.pop-up-window__footer {
	display: flex;
	justify-content: center;

	margin: 10px;
}

.pop-up-window__footer p {
	color: purple;
	cursor: pointer;
	opacity: 0.7;
	margin: 0;
	font-weight: bold;
	user-select: none;

	transition: var(--opacity-transition);
}

.pop-up-window__footer p:hover {
	opacity: var(--hover-opacity);
}

.pop-up-window__footer p:active {
	opacity: var(--active-opacity);
}